body { background-color: #888; }
.container { background-color: #fff; }
.navbar-default, .container {
    width: 540px;
    margin: 0 auto;
}
#login-main {
    background: url(../img/fondo-login.png)
}
#login-main form { padding: 0 20px  }
